<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BasicServer.Properties.Settings.DepotManagementConnectionString1"
            connectionString="Data Source=192.168.0.6,1433;Initial Catalog=DepotManagement;Persist Security Info=True;User ID=InfoSysUser"
            providerName="System.Data.SqlClient" />
        <add name="ServerModule.Properties.Settings.PlatformServiceConnectionString"
            connectionString="Data Source=192.168.0.6,1433;Initial Catalog=DepotManagement;Persist Security Info=True;User ID=InfoSysUser"
            providerName="System.Data.SqlClient" />
        <add name="ServerModule.Properties.Settings.DepotManagementConnectionString1"
            connectionString="Data Source=192.168.0.6,1433;Initial Catalog=DepotManagement;Persist Security Info=True;User ID=InfoSysUser"
            providerName="System.Data.SqlClient" />
        <add name="ServerModule.Properties.Settings.TaskManagementConnectionString"
            connectionString="Data Source=192.168.0.6,1433;Initial Catalog=TaskManagement;Persist Security Info=True;User ID=InfoSysUser"
            providerName="System.Data.SqlClient" />
        <add name="ServerModule.Properties.Settings.DepotManagementConnectionString"
            connectionString="Data Source=XINXI-SERVER;Initial Catalog=DepotManagement;Persist Security Info=True;User ID=InfoSysUser"
            providerName="System.Data.SqlClient" />
        <add name="ServerModule.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=192.168.0.6,1433;Initial Catalog=DepotManagement;Persist Security Info=True;User ID=InfoSysUser"
            providerName="System.Data.SqlClient" />
        <add name="ServerModule.Properties.Settings.DataSourceConnectionString1"
            connectionString="Data Source=192.168.0.6;Persist Security Info=True;User ID=InfoSysUser"
            providerName="System.Data.SqlClient" />
        <add name="ServerModule.Properties.Settings.DepotManagementConnectionString2"
            connectionString="Data Source=XINXI-SERVER;Initial Catalog=DepotManagement;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>