<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Form_Peripheral_HR.Properties.Settings.DepotManagementConnectionString"
            connectionString="Data Source=192.168.0.6,1433;Initial Catalog=DepotManagement;Persist Security Info=True;User ID=InfoSysUser;Password=meimima123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>